<h1>Welcome!</h1>

<p>This website will focus on documenting parts, 3D printing, and building open source humanoid robots.</p>
<p>The goal is to get these robots in the hands of as many people as possible and for everyone to improve the designs and advance them together.</p>
<p>My focus in the beginning will be to document my own expereince with the InMoov robot</p>
<p>Feel free to contribute on <a href="https://github.com/digital-vibe/buildahumanoidrobot.com">GitHub</a>!</p>

<h2>List of Open Source DIY robots</h2>
<ul>
  <li>InMoov</li>
  <li>Poppy</li>
  <li>Nimbro</li>
  <li>Nao</li>
  <li>iCub</li>
  <li>THORMANG3</li>
</ul>
